@import "tailwindcss";

@theme {
  --color-text: hsl(280 13% 95%);
  --color-background: hsl(276 100% 2%);
  --color-primary: hsl(277 95% 15%);
  --color-secondary: hsl(300 79% 19%);
  --color-accent: hsl(319 83% 36%);
  --color-border: var(--color-primary);
}

@layer base {
  :root {
    --text: 280 13% 95%;
    --background: 276 100% 2%;
    --primary: 277 95% 15%;
    --secondary: 300 79% 19%;
    --accent: 319 83% 36%;
    --border: var(--primary);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animate {
  background-size: 200% 200%;
  animation: gradientShift 15s ease infinite;
}
