@import "tailwindcss";

:root {
  --text: #05121c;
  --background: #f4f8fb;
  --primary: #277bc0;
  --secondary: #ffb200;
  --accent: #ffcb42;
}

body {
  background: var(--background);
  color: var(--text);
}
